name: SimPoint Analysis

on:
  workflow_dispatch:
    inputs:
      benchmark:
        description: 'Benchmark to run (e.g., 400.perlbench)'
        required: false
        default: '400.perlbench'
        type: string
      run_all:
        description: 'Run all benchmarks'
        required: false
        default: false
        type: boolean
  push:
    branches:
      - main
      - master
  schedule:
    # Run regression test once per day at 2:00 AM JST (17:00 UTC previous day)
    - cron: '0 17 * * *'

jobs:
  build-docker:
    runs-on: self-hosted
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        # Build Docker image from repository Dockerfile on the runner server
        docker build -t simpoint-runner:latest \
          --build-arg RISCV_ARG=/riscv-linux \
          -f Dockerfile .

  simpoint:
    runs-on: self-hosted
    needs: build-docker
    timeout-minutes: 360  # 6 hours timeout
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Say Hello
      run: docker run --rm -v "${PWD}:/workspace" -w /workspace simpoint-runner:latest echo "Hello, world!"

    - name: Run BBV and SimPoint analysis
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace/spec2006_work \
          -e RISCV=/riscv-linux \
          -e PATH=/workspace/qemu-9.2.4/build:/riscv-linux/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin \
          simpoint-runner:latest bash -c "
            # Get number of CPUs available in the container (use half)
            NPROC=\$((\$(nproc) / 2))
            echo \"Using \${NPROC} parallel jobs (half of available CPUs)\"
            # Run the full pipeline
            make extract_iso ISO_FILE=/home/kimura/spec_bechmarks/SPECCPU_2006_v1.1.iso && \
            make prepare && \
            make build -j\${NPROC} && \
            make run_bbv -j\${NPROC} && \
            make build_simpoint && \
            make run_simpoint -j\${NPROC}
          "

      